.toolbar{
    height: 86px;
    background-color: #FFFFFF;
    padding: 0 150px;
}

.logoUnit{
    display: flex;
    align-items: center;
}


/* logo_Section */
.main{
    border-bottom: 1px solid #ddd;
}


/* slides_Section */
.slides{
    position: relative;
}

.button{
    position: absolute;
    top: 480px;
    left: 180px;
    z-index: 1;
    background-color: black;
}

.button:hover{
    background-color: black !important;
}